<header class="bg-white shadow-md sticky top-0 z-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <div class="shrink-0 flex items-center">
        <a routerLink="/" class="text-3xl text-indigo-600 font-extrabold">
          ToyStore
        </a>
      </div>

      <div class="flex items-center space-x-4">
        @if (!authService.trenutniKorisnik()) {
          <a routerLink="/login" class="text-gray-600 hover:text-indigo-600 font-medium transition-colors duration-200">
            Prijavite se
          </a>
          <a routerLink="/register" class="bg-indigo-600 hover:bg-indigo-700 text-white px-5 py-2 rounded-full font-medium shadow-sm hover:shadow-md transition-all duration-300 transform">
            Registrujte se
          </a>
        } @else {
          <a routerLink="/profile" class="text-gray-600 hover:text-indigo-600 font-medium transition-colors duration-200">
            {{authService.trenutniKorisnik()?.ime}} {{authService.trenutniKorisnik()?.prezime}}
          </a>
          <a routerLink="/cart" class="groupflex items-center relative cursor-pointer p-2 text-gray-600 hover:text-indigo-600 transition-colors duration-200">
            @if (cartService.totalItems() > 0) {
              <span class="absolute -top-1 -right-1 bg-red-500 text-white text-xs rounded-full py-1 px-2">{{cartService.totalItems()}}</span>
            }
            <mat-icon class="flex! items-center justify-center">shopping_cart</mat-icon>
          </a>
          <button (click)="authService.logout()" class="cursor-pointer bg-red-500 hover:bg-red-600 text-white px-5 py-2 rounded-full font-medium shadow-sm hover:shadow-md transition-all duration-300 transform">
            Odjavi se
          </button>
        }
      </div>
    </div>
  </div>
</header>

<main class="min-h-[calc(100vh-4rem)] bg-gray-50 flex flex-col">
  <router-outlet></router-outlet>
</main>
